.portfolioList
{
            font-size: 16px;
            margin-right: 50px;
            padding: 9px;
            border-radius: 10px;
            font-weight: 500;

            cursor: pointer;


            &.active {
                background-color: red;
                color: white;
            }
        }
