.port {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/port.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    width: 500px;
    height: 200px;
    

    h1 {
        font-size: 50px;
        // font-weight: 300;
    }

    ul {
        margin: 10px;
        padding: 0;
        display: flex;
        list-style: none;

        

    }

    .contains {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    
        // a{
        //     text-decoration: none;
        //     text-align: center;
        //     // justify-content: center;
        // }


        .items {
            width: 200px;
            height: 170px;
            border-radius: 20px;
            border: 1px solid rgb(0, 0, 0);
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-items: center;
            cursor: pointer;
            color: redblack;
            position: relative;



            h3 {
                padding: 20px 20px;
                position: absolute;
                font-size: 20px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;


            }

            &:hover {
                background-color: rgb(171, 169, 169);
                // color: black;

                img {
                    opacity: 0.1;
                    z-index: 0;
                }
            }


        }
      

    }
    a{
        position:relative;
        // position: ;
        bottom: -55%;

        img{
            width: 55px;
            animation: blink 2s infinite;
            align-items: center;
        }
        @keyframes blink {
            to{
                opacity: 0;
            }
            
        }
    }
   
}



